body{
  
    background-image: url(https://allimages.sgp1.digitaloceanspaces.com/photographercomvn/2020/08/Hinh-anh-bau-troi-dem-sao-tuyet-dep-va-binh.png);
    
    
  }
  @keyframes animation{
    0% {margin-top:30px;}
    50% {margin-top:15px;}
    100% {margin-top:0px;}
  }
  .theroot{
    background-color: rgb(26, 26, 39);
    position: relative;
    width: 100%;
    
    height: 620px;
    margin-top:15px;
    border-radius: 15px;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
  }
  .theroot::-webkit-scrollbar{
    display: none;
  }
  .main{
    
    display: table;
  
    table-layout: fixed; 
    border-spacing: 10px;
  
  
  
  }
  .menu-mobile{
    display: none;
  }
  .main .menu, .main .content,.main {
    display: table-cell;
  }
  
  .menu{
    width: 15%;
    position: absolute;
    height: 600px;
    position: fixed;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  .menu::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
  .menu span{
    color: rgb(109, 106, 112);
    font-size: 15px;
    margin-left:0px;
  }
  .menu li {
    padding: 15px  0 ;
    text-decoration: none;
    list-style-type: none;
    color: rgb(109, 106, 112);
    font-size: 20px;
   
    border-radius: 20px;
    margin-top: -5px;
    
  }
  .menu li a{
    text-decoration: none;
    color: rgb(109, 106, 112);
  }
  .menu ul{
    margin-top: 40px;
  }
  
  .menu hr{
    height:1px;
    border:none;
    color:#333;
    background-color:#333;
  }
  
  .content{
  position: absolute;
  margin-left: 15%;
  
  }
  
  .head input{
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(66, 66, 75);
    border: none;
  }
  .head .ti-search{
    margin-left: 0px;
    margin-top: 3px;
    color: rgb(240, 236, 243);
    width:50px;
    font-size:15px;
    text-align:center;
    height:30px;
  }
  .head .admin, .anime .admin{
    margin-left:  85%;
    margin-top: -3%;
  
  }
  .head .admin img,  .anime .admin img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
   
    padding: 4px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    
    
  }
  .head .admin span a , .anime .admin span{
    color:rgb(207, 208, 221);
    margin-left:30%;
    margin-top:-35px;
    font-size: 18px;
    z-index: -2;
    display: block;
    text-decoration: none;
    list-style-type: none;
  }
  .head{
   z-index: 2;
   position: fixed;
   background-color: rgb(26, 26, 39);
  width: 85%;  
  height: 80px;
  border-radius:0 30px 0 0;
   
  }
  .container  h2{
  
    font-size: 30px;
    color:rgb(207, 208, 221);
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 70px;
  }
  
  .content .container {
    
    overflow-y: auto;
    display: table;
   
    margin-left: -1%;
    table-layout: fixed; 
    border-spacing: 10px;
    height:500px;
  }
  .container .slide{
    margin-top: 0px;
    width: 110%;
  }
  .container .img1 , .container .img2{
    display: table-cell;
  }
  .content .container .slide .img1{
    width: 70%;
    height: 300px;
    z-index: 1;
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-size: 88%;
    background-image: url(https://st.quantrimang.com/photos/image/2019/04/24/Naruto-Wallpaper-18.jpg);
    border-radius: 30px;
    background-position: -50px -10px;
  }
  .content .container .slide .img2{
    width: 60%;
   
    height: 300px;
    z-index: 1;
    
    background-image: url(https://cdn.donmai.us/original/d3/1f/__yato_noragami_drawn_by_nian__d31f6795d58b5a12b219651247e45981.jpg);
    border-radius: 30px;
    margin-left: 72%;
    background-size: 350px;
   
    
  }
  
  /* phần hiện tài khoản*/
  .content .container .slide .img1 .profile1{
    margin-top: 30px;
    
    height: 42px;
  
    margin-left: 5%;
  }
  .content .container .slide .img2 .profile1{
    margin-top: 80px;
    
    height: 42px;
  
    margin-left: 6%;
  }
  .profile1 span{
    color: rgb(192, 197, 202);
    display: block;
    margin-left: 70px;
    margin-top: -60px;
    font-size: 20px;
  }
  .profile1 i{
    color: rgb(192, 197, 202);
    display: block;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 18px;
  }
  .img2 span{
    color: rgb(197, 9, 81);
    display: block;
   margin-left: -1px;
    margin-top: -110px;
    font-size: 20px;
  }
  .img2 i{
    color: rgb(148, 63, 63);
    display: block;
    
    margin-top: 3px;
    font-size: 18px;
    margin-left: -10px;
  }
  .content .container .slide .img1 img{
    width: 52px;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 4px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  } 
  .content .container .slide .img2 img{
    width: 42px;
  height: 42px;
  border: 1px solid rgba(37, 63, 209, 0.75);
  padding: 4px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  } 
  .content .container .slide .img1 span{
  
  }
  .img1 p{
    font-size: 30px;
    color: #fff;
    margin-left: 4%;
   
   font-family:Florence, cursive;
  }
  
  .img2 p{
    font-size: 30px;
    color: #fff;
    margin-left: 4%;
   
   font-family:Florence, cursive;
  }
  
  /* chinh cac bo anime*/
  
  /* nơi thêm các bộ anime*/
  .anime{
    width: 100%;
    border-spacing: 10px;
   margin-top: 5%;
  }
  .anime .anime1{
   
    position: relative;
   width:300px;
     float: left;
   box-sizing: border-box;
   
   overflow: hidden;
  }
  .anime .animes{
    border-radius: 30px;
  }
  .animes img{
    height: 300px;
    width: auto;
   border-radius: 30px;
  }
  .anime .animes img:hover{
   
     opacity: 0.5;
  }
  /*phần hiện lên khi hover vào anime*/
  .anime .anime1 .nar{
    
    height:100px;
    margin-top: -100px;
    position: absolute;
    width:213px;
    left: 0px;
     border-radius: 0 0 30px 30px;
     background: rgb(46, 46, 51,0.7) ;
   
  }
  .anime .anime1:hover .nar{
    
  
  }
  .anime .anime1 .nar h3{
  
     color: #fff;
     justify-content: center;
     text-align: center;
     margin-top: 40px;
  }
  
  /* phan admin anime*/
  .anime .admin{
     margin-left:  20px;
     margin-top: -100px;
     
  }
   .anime .admin img {
     height: 42px;
     width: 42px;
     border-radius: 50%;
     border: 1px solid rgba(255, 255, 255, 0.75);
     padding: 4px;
     border-radius: 50%;
     -o-object-fit: cover;
        object-fit: cover;
     
  }
  .anime .admin span{
     color:rgb(253, 253, 253);
     margin-left:25%;
     margin-top:-25px;
     font-size: 18px;
     z-index: -2;
     display: block;
  }
  /*phan content */
  .containercontent{
  
  margin-top: -10px;
  display: table;
  
  table-layout: fixed; 
  border-spacing: 10px;
  position: relative;
  }
  .contentanime ,.livechat{
  display: table-cell;
  }
  .contentanime{
  width: 75%;
  margin-top: 72px;
  display: block;
  margin-left: 60px;
  
  }
  
  .contentanime h1{
   margin-left: -40px;
   color: beige;
  
  font-family: cursive;
  }
  .like {
   margin-left:60%;
   margin-top: -50px;
  
  
  }
  .like i{
   margin-left: -50px;
   background-color:rgb(209, 62, 86);
   width: 100px;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
   
  }
  
  /* chinh phan ten nguoi dang*/
  .contentanime .taikhoan{
  height:50px;
  width: 100%;
  margin-top: 30px;
  }
  .contentanime .taikhoan img{
  
  height:50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 4px;
  
  -o-object-fit: cover;
   object-fit: cover;
  }
  
  .contentanime .taikhoan .ten{
  margin-top: -50px;
  z-index: -2;
  margin-left: 65px;
  display: block;
  color: azure;
  }
  .contentanime .taikhoan i{
  margin-left: 55px;
  margin-top:10px;
  display: block;
  color: beige;
  }
  .noidung{
  width:100%;
  margin-top: 30px;
  font-size:15px;
  color: rgb(171, 171, 175);
  font-family:cursive;
  text-align: justify;
  }
  /* chinh sua phan live chat*/
  .livechat{
  height: 300px;
  width:20%;
  
  
  
  }
  
  .livechat .chat{
   height: 400px;
  width:310px;
  background-color: rgb(41, 41, 54);
  
  z-index: 1;
  margin-left: -120px;
  
  border-radius:20px;
  position: fixed;
  margin-top: -20px;
  }
  /* tai khoan comment*/
  
  .comment::-webkit-scrollbar {
  display: none;
  }
 
  .comment{
  overflow-y: auto;
  height: 300px;
  }
  .comment .taikhoan i{
  color: rgb(55, 54, 61);
  }
  .tieude{
  
  width: 100%;
  }
  .tieude h4{
  color: beige;
  margin-left: 20px;
  margin-top:5px;
  font-size: 20px;
  font-family: cursive;
  }
  .tieude hr{
  height:1px;
  border:none;
  color:rgb(78, 76, 76);
  background-color:rgb(87, 82, 82);
  margin-top: -10px;
  margin-left: 15px;
  }
  .smcomment input{
  
  height: 30px;
  width:90%;
  margin-left: 4%;
  border-radius:20px;
  font-size: 18px;
  background-color: rgb(60, 61, 70);
  border: none;
  color: rgb(197, 197, 206);
  }
  .livechat .taikhoan{
  height:50px;
  width: 100%;
  margin-bottom: 20px;
  }
  .livechat .taikhoan img{
  
  margin-left: 20px;
  height:40px;
  width: 40px;
  border-radius: 50%;
  
  padding: 4px;
  border-radius: 50%;
  
  
  }
  
  .livechat .taikhoan .ten{
  margin-top: -40px;
  z-index: -2;
  margin-left: 70px;
  display: block;
  color: azure;
  }
  .livechat .taikhoan i{
  margin-left: 0px;
  margin-top:3px;
  display: block;
  color: rgb(158, 161, 187);
  font-size: 14px;
  
  }
  .smcomment button{
  margin-left:285px;
  border:none;
  background-color:rgb(41, 41, 54);
  
  }
  .smcomment .ti-comments-smiley {
  position: absolute;
  margin-top:-46px;
  margin-left: -28px;
  border-radius: 50%;
  background-color:rgb(132, 99, 163);
  padding: 5px 5px;
  color:aliceblue;
  }
  /* css cua phan form them sp*/
  @import url('https://fonts.googleapis.com/css?family=Rubik:400,700');
  
  
  
  #form {
      top: 100px;
      width: 350px;
     
      position: relative;
      box-shadow: 5px 5px 25px rgba(0,0,0,.2);
      border-radius: 1px;
      background-color: #2c3e50;
      height: 450px;
      overflow: hidden
  }
  
  #form #toggle-forms{
      position: absolute;
      top: 15px;
      right: 30px;
      border: 1px solid #3a4a5d;
      border-radius: 20px;
      overflow: hidden;
      z-index: 99
  }
  
  #form #toggle-forms > button {
      border:none;
      background:none;
      background-color: #34495e;
      border: 1px solid #22303e;
      color: #FFF;
      float:left;
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;
      padding:2px 10px;
  }
  
  #form #toggle-forms > button:first-of-type{
      border-right: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
  }
  
  #form #toggle-forms > button.active {
      background-color: #3498db;
  }
  
  #form form h4{
      text-transform: capitalize
  }
  
  .input-field label.active {
      color: #FFF !important;
      font-size: 1.1rem
  }
  
  #form form input:focus {
      border-bottom-color: dodgerblue !important
  }
  
  #form .row >button{
      background-color: dodgerblue
  }
  
  input {
      color: #FFF;
      padding-left: 15px !important
  }
  
  #form form{
      padding:45px 30px 15px;
      position: absolute;
      top:0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #2c3e50;
      transition: all .3s linear;
      z-index: 2
  }
  
  #form form:last-of-type {
      left: 100%
  }
  
  #form.active form:first-of-type {
      left: -100% !important
  }
  
  #form.active form:last-of-type{
      left:0 !important
  }
  
  @media (max-width: 767px) {
      #form {
          width: 290px !important;
      }
  }
  .animate {
      height: 100%;
      display: block;
      margin: 0;
      padding: 0;
      width: 300%
  }
  
  .animate > li {
      position: absolute;
      height: 50px;
      width: 50px;
      top: 100%;
      left: 10px;
      background-color:  rgba(255,255,255,.1);
      z-index: -1;
      overflow: hidden;
      -webkit-animation: move 10s linear infinite;
              animation: move 10s linear infinite
  }
  
  .animate > li:nth-last-of-type(2) {
      left: 70px;
      -webkit-animation-delay: 3.5s;
              animation-delay: 3.5s;
      height: 15px;
      width: 15px;
  }
  
  .animate > li:nth-last-of-type(3) {
      left: 140px;
      -webkit-animation-delay: 3s;
              animation-delay: 3s
  }
  
  .animate > li:nth-last-of-type(4) {
      left: 210px;
      -webkit-animation-delay: 5.5s;
              animation-delay: 5.5s
  }
  
  .animate > li:nth-last-of-type(5) {
      left: 280px;
      -webkit-animation-delay: 1.8s;
              animation-delay: 1.8s;
      height: 65px;
      width: 65px
  }
  
  .animate > li:nth-last-of-type(6) {
      left: 140px;
      -webkit-animation-delay: 6.8s;
              animation-delay: 6.8s;
      height: 25px;
      width: 25px
  }
  
  .animate > li:nth-last-of-type(7) {
      left: 280px;
      -webkit-animation-delay: 5s;
              animation-delay: 5s;
      height: 35px;
      width: 35px
  }
  
  
  @-webkit-keyframes move {
      to {top: -50px;transform: rotate(360deg)}
  }
  
  
  @keyframes move {
      to {top: -50px;transform: rotate(360deg)}
  }
  
  .forgot{
      color: dodgerblue
  }
  
  .forgot:hover {
      text-decoration: underline;
      cursor: pointer
  }
  .form-login {
      background-color: rgba(0,0,0,0.55);
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      color:white;
      box-shadow:0 1px 0 #cfcfcf;
  }
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 18px!important;
  }
  h1{
      color:white!important;
  }
  h4 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
  }
  
  .form-control {
      border-radius: 10px;
  }
  .text-white{
      color: white!important;
  }
  /*.wrapper {
      text-align: center;
  }*/
  .footer p{
      font-size: 18px;
  }
  
  /* phan can ngang cho content va form them sp*/
  .form_add{
   margin-top:-40px;
   width:300px;
  }
  .form_content{
   
    height: 400px;
    margin-left: 20px;}
  .buttonz{
  margin-left: 302%;
  }
  
  .position-center textarea::-webkit-scrollbar 
  {
  display: none;
  }
  

  /* phan chuyn dong transition*/
